.App {
  text-align: center;
  height: 100%;
  margin: 10px auto;
  padding: 5px;
  max-width: 560px;
  color: #444;
}

h1 {
  color: #666;
}

h2 {
  color: #333;
}

button {
  border: 1px solid #aaa;
  font-size: 1.1em;
  border-radius: 4px;
}
.Nav button {
  background-color: rgb(7, 7, 87);
  color: white;
  padding: 10px;
}
.Nav button:hover {
  background-color: rgb(13, 83, 13);
  cursor: pointer;
}

@media screen and (min-width: 460px) {
  body,
  input,
  textarea {
    font-size: 1.1em;
  }
}
